/* Place your CSS styles in this file */
@font-face {
    font-family: font;
    src: url(font.woff);
}
* {
    font-family: font;
}
::-webkit-scrollbar-track {
    background: transparent;
}
.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
    font-size:200px
}