grid {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
gridItem {
    padding-top: 20px;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 300px;
}